

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <ul>
        @foreach (var course in Model)
        {
            <li>
                @course.DateTime.ToString("dd/MM/yyyy HH:mm") - @course.LecturerId
            </li>
        }
    </ul>
</div>